.header-top-menu {
    background-image: var(--background-image);
    padding: 50px 0;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;


    .header-title {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        h2 {
            font-size: 36px;
            color: var(--text-color);
            text-shadow: black 0 0 5px;
        }

    }

    .header-top-menu__header-logo {
        cursor: pointer;
        opacity: unset;
        max-height: 150px;
        max-width: 150px;
        display: table-cell;
        vertical-align: middle;
        margin: 0px;
        padding: 0px;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        font-size: 20px;
        text-shadow: black 0 0 5px;



        .border-text-menu {
            // font-family: adobe-garamond-pro-1, adobe-garamond-pro-2, Georgia, Times New Roman, Times, serif;
            // cursor: pointer;
            // display: grid;
            // align-content: center;
            // background: rgb(2, 0, 36);
            // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(159, 159, 252, 1) 54%, rgba(0, 212, 255, 1) 100%);
            // border-radius: 20px;
            // height: 40px;

            h4 {
                color: var(--text-color);
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
            }

        }
    }
}

.toggle-theme {
    height: 25px;
    width: 25px;

}